@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'Lulo Clean Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Lulo Clean Bold'), url('/fonts/lulo-clean/lulo-clean-bold.ttf');
  }
  @font-face {
    font-family: 'Avenir Light';
    src: url("/fonts/avenir-light/avenirltstd-light.otf");
  }

  header {
    background-color: #F9F9F9;
    font-family: "Avenir Light" !important
  }
  body {
    color: #000;
    background: #F9F9F9;
    font-family: "Avenir Light" !important
  }
  h1, h2, h3, h4, h5 {
    font-family: "Lulo Clean Bold" !important
  }
  hr {
    border-top: 1px solid #8c8b8b;
  }
  ul {
    @apply list-none;
  }
  li {
    @apply pl-8 tracking-wide text-lg md:text-xl;
  }
  li:before {
    content: "+";
    @apply inline-block -ml-5 w-5;
  }
}

@layer components {

  .btn-pill {
    @apply bg-red-400 hover:bg-red-500 text-white font-black border border-red-500 py-2 px-3
  }

  .btn-buy {
    @apply btn-pill;
  }

  .characters {
    @apply grid grid-cols-1 md:grid-cols-6 gap-2;
  }

  .char-name {
    @apply text-center text-xl mt-8 md:mt-0 md:text-2xl font-bold md:col-span-2;
  }

  .char-desc {
    @apply text-lg md:text-2xl md:col-span-3;
  }

  .btn-lg {
    @apply px-4 py-2;
  }

  .btn-danger {
    @apply bg-red-600 text-white;
  }

  .alert-danger {
    @apply bg-red-100 text-red-900;
  }

  .social-icon {
    @apply h-8 w-8;
  }

  .menu-item {
    @apply -m-3 p-3 block rounded-md hover:bg-gray-50 transition ease-in-out duration-150;
  }

  .contract-id {
    @apply mx-4 block overflow-ellipsis overflow-hidden text-blue-600 hover:underline hover:text-blue-900;
  }

  .market-icon {
    @apply w-14 w-14 md:w-16 md:h-16;
  }
}

@layer utilities {
  .ff-lulo {
    font-family: "Lulo Clean Bold" !important
  }
  .fs-extra-large {
    @apply text-xl;
  }
  .fs-large {
    @apply text-lg;
  }
  .fs-normal {
    @apply text-base;
  }
  .fs-smaller {
    @apply text-sm;
  }
  .action-section {
    @apply max-w-7xl;
  }

}